<div ng-controller='UserCtrl'>
	<div class='row'>
		<div class='col-sm-6 col-sm-offset-3'>
			<h2><small>Sign up</small></h2>
		</div>
	</div>
	<div class='row'>
		<div class='col-sm-6 col-sm-offset-3'>
			<div class="panel panel-default">
			  <div class="panel-body">
			  	<%= form_for @user, html: {class: 'form-horizontal', role: 'form'} do |f| %>
			    	<div class="form-group">
					    <%= f.label :email, class: "control-label sr-only" %>
					    <div class="col-sm-10 col-sm-offset-1">
					      <%= f.email_field :email, class: 'form-control', placeholder: 'Email address', 'ng-required' => true, 'ng-model' => 'email', 'ch-validate' => '{{email}}' %>
					    </div>
					  </div>
					  <div class="form-group">
					    <%= f.label :password, class: "control-label sr-only" %>
					    <div class="col-sm-10 col-sm-offset-1">
					      <%= f.password_field :password, class: 'form-control', placeholder: 'Password', 'ng-required' => true, 'ng-model' => 'password', 'ng-minlength' => 6, 'ch-validate' => '{{password}}' %>
					    </div>
					  </div>
					  <div class="form-group">
					    <%= f.label :password_confirmation, class: "control-label sr-only" %>
					    <div class="col-sm-10 col-sm-offset-1">
					      <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Password confirmation', 'ng-required' => true, 'ng-model' => 'password_confirmation', 'ng-minlength' => '6', 'ch-validate' => '{{password_confirmation}}' %>
					    </div>
					  </div>
					  <div class="form-group">
					    <div class="col-sm-10 col-sm-offset-1">
					    	<%= f.submit 'Sign up', class: 'btn btn-success' %>
					    </div>
					  </div>
					  <div class='form-group'>
					  	<%= render partial: 'users/remember_me' %>
					  	<div class='col-sm-2 col-sm-offset-4'>
					  		<%= link_to 'Sign in', login_path, class: 'btn btn-link' %>
							</div>
				  	</div>
			    <% end %>
			  </div>
			</div>
		</div>
	</div>
</div>