<div ng-controller='UserCtrl'>
  <div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
      <h2><small>Reset password</small></h2>
    </div>
  </div>

  <div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
      <div class="panel panel-default">
        <div class="panel-body">
          <%= form_for @user, url: update_password_path(params[:token]), html: {class: 'form-horizontal'} do |f| %>
            <div class="form-group">
              <%= f.label :password, class: "control-label sr-only" %>
              <div class="col-sm-10 col-sm-offset-1">
                <%= f.password_field :password, class: 'form-control', placeholder: 'New Password', required: true, 'ng-model' => 'password', 'ng-minlength' => 6, 'ch-validate' => 'password' %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :password_confirmation, class: "control-label sr-only" %>
              <div class="col-sm-10 col-sm-offset-1">
                <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'New password confirmation', required: true, 'ng-model' => 'password_confirmation', 'ng-minlength' => '6', 'ch-validate' => 'password_confirmation' %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-10 col-sm-offset-1">
                <%= f.submit 'Sign up', class: 'btn btn-primary' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>